.info {
  text-align: center;
  padding: 20px;
  background-color: var(--main-green);
  color: black;
}

.info-h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

.info-details-container {
  margin: 40px 0;
}

.info-detail {
  font-weight: 600;
}

.info-icons-container {
  display: flex;
  width: 100%;
}

.info-icon {
  font-size: 3rem;
  margin-right: 20px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}
.company-logo {
  padding: 2%;
  width: 500px;
  height: 500px;
}
.company-logo img {
  border-radius: 50%;
}
@media screen and (min-width: 699px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
  }

  .info-detail {
    line-height: 2;
  }
}
