@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@media screen and (min-width: 836px) {
  /*For header div*/
  .logo_nav_div {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #1fa375;
  }

  .logo {
    flex: 1;

    height: 50px;
  }

  #main-logo {
    width: 100%;
    height: 100%;
  }
  .navbar {
    flex: 2;
  }
  .hamburger {
    visibility: hidden;
  }
  /*For main-navigation bar*/

  .main-nav li {
    float: left;
    background-color: #1fa375;
    width: 20%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    opacity: 1;
  }

  .main-nav li {
    color: black;
    display: block;
  }

  .main-nav li:hover {
    background-color: #134936;
    color: orangered;
    padding-left: 30px;
    opacity: 1;
    transition: all 0.7s ease;
  }

  /*for subnav*/
  .subnav li {
    display: none;
  }

  .main-nav li:hover .subnav li {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 835.99px) {
  /*For header div*/
  .logo_nav_div {
    display: block;
    height: 50px;
    background-color: #1fa375;
  }

  .logo {
    width: 200px;
    height: 50px;
  }

  #main-logo {
    width: 100%;
    height: 100%;
  }

  .hamburger {
    position: absolute;
    top: 0%;
    right: 0%;
    visibility: unset;
    cursor: pointer;
  }
  .navbar {
    visibility: none;
  }

  .main-nav li:hover {
    color: orangered;
    padding-left: 20px;
    transition: all 0.7s ease;
  }
  .nav-links:nth-child(3) {
    visibility: hidden;
  }

  .nav-links {
    position: fixed;
    width: 100%;
    height: 70%;
    background-color: #1fa375;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    pointer-events: none;
    clip-path: circle(100px at 98% -45%);
    -webkit-clip-path: circle(100px at 98% -45%);
    transition: all 1.2s ease-in;
  }

  .open {
    clip-path: circle(2000px at 110% -10%);
    -webkit-clip-path: circle(2000px at 110% -10%);
    pointer-events: all;
  }

  .links {
    opacity: 0;
    font-size: 150%;
  }

  .links.fade {
    opacity: 1;
  }
}
